*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*header{
    width: 1024px;
    max-width: 100%;
    margin: 0 auto;
    padding: 35px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-size: 24px;
    flex-grow: 1;
}
nav{
    flex-grow: 3;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input[type="checkbox"], label{
    display: none;
}
.join-block{
    flex-grow: 1;
    text-align: right;
    background: none;
    border: none;
    padding: 20px 0;
    transition: opacity 300ms;
    &:hover{
       opacity: 0.7;
       cursor: pointer; 
    }
}
.started{
    background-color: goldenrod;
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    transition: opacity 300ms;
    &:hover{
opacity: 0.7;
cursor: pointer;
    }
}
@media screen and (max-width:768px) {
    nav{
        order: 1;
    }
    label{
        display: block;
        width: 40px;
        height: 40px;
        position: relative;
        margin-left: auto;
        &:hover{
            cursor: pointer;
        }
    }
    label span{
        top: 15px;
    }
    label span, 
    label span::before,
    label span::after{
        content: '';
        display: block;
        width: 35px;
        height: 3px;
        background-color: #000;
        position: absolute;
        right: 0;
        transition: 300ms;
    }
    label span::before{
        top: -10px;
    }
    label span::after{
top: 10px;
    }
    .nav-menu{
        display: none;
    }
    input [type="checkbox"]:checked ~ .nav-menu{
display: flex;
flex-direction: column;
    }
    input [type="checkbox"]:checked ~ label span::before{
        top: 0;
        transform: rotate(0);
    }
    input [type="checkbox"]:checked ~ label span::after{
        top: 0;
        transform: rotate(90deg);
    }
    input [type="checkbox"]:checked ~ label span{
        top: 0;
        transform: rotate(-45deg);
    }
    .nav-menu{
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        padding: 20px;
        background-color: lightcyan;
    }
    .nav-menu li{
        margin: 15px 0;
    }
}*/
body {
  background-color: beige;
  margin: 0;
  padding: 0;
  color: #212121;
}

.container {
  min-width: 320px;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-header {
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.page-header .container {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.team {
  padding-top: 50px;
  padding-bottom: 15px;
  background-color: darkkhaki;
}
.team__title {
  text-align: center;
  font-size: 28px;
  color: cornflowerblue;
}
.team__title:hover {
  color: chartreuse;
  cursor: alias;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.team__item {
  width: 150px;
  height: 150px;
  background-color: lightgreen;
  border: 1px dotted gray;
  font-size: 22px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}/*# sourceMappingURL=style.css.map */