/* НЕ ВИДАЛЯТИ */
/* .btn{
    display: inline-block;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    color: darkred;
    background-color: lightseagreen;
    transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
    position: relative;
    overflow: hidden;
}
.btn:hover,
.btn:focus{
    background-color: midnightblue;
    color: cornsilk;
}
.btn::before, .btn::after{
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}
.btn::before{
    background-image: url(./evel.webp);
    margin-right: 10px;
}
.btn::after{
    background-image: url(./Без\ названия.jpeg);
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(calc(-50% + 35px));
}
.btn:hover::before{
    transform: translateY(-35px);
}
.btn:hover::after{
    transform: translateY(-50%);
} */
body{
    background-color: rgb(87, 181, 212);
    width: 1200px;
    margin: 0 auto;
}
.box{
    width: 35%;
    padding: 30px;
    border: 5px double whitesmoke;
    margin-top: 350px;
    margin-bottom: 350px;
}
.list{
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.item{
    width: 45%;
    border: 5px double whitesmoke;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    color: antiquewhite;
}
.image{
    width: 70%;
}