/* body{
  height: 5000vh;
  background-color: ivory;
  color: #212121;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cta{
  text-align: center;
  font-size: 22px;
}
.event-counter{
  position: fixed;
  border: 1px solid #13327b;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  left: 600px;
}
.text{
  font-size: 20px;
  text-align: center;
}
.output{
  display: block;
  text-align: center;
  color: midnightblue;
  font-size: 30px;
  font-weight: 900;
} */
/* body{
  height: 5000vh;
  background-color: ivory;
  color: #212121;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cta{
  text-align: center;
  font-size: 22px;
  position: fixed;
  left: 50%;
}
.event-counter{
  position: fixed;
  top: 100px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.box{
  min-width: 200px;
  border: 2px double #711212;
  padding: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.output{
  font-size: 20px;
  color: indigo;
  font-weight: 700;
} */

#point{
  transition: cx 100ms, cy 100ms;
}
.text{
  font-size: 20px;
  font-weight: 600;
}
